.register{
  height: 100vh;
  background-color: rgb(193,190,255);
  display: flex;
  align-items: center;
  justify-content: center;
  .card{
    width: 50%;
    display: flex;
    background-color: white;
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;
    .left{
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      h1{
        font-weight: bold;
        color: #555;
      }
      form{
        display: flex;
        flex-direction: column;
        gap: 30px;
        input{
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 10px;
        }
        button{
          border: none;
          background-color: #938eef;
          color: white;
          padding: 10px;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
    .right{
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      background: linear-gradient(rgba(39,11,98,0.5),rgba(39,11,96,0.5)),url("https://images.pexels.com/photos/1320733/pexels-photo-1320733.jpeg?_gl=1*7ll8a8*_ga*ODI1ODk5MzIwLjE3NDc4OTczNzc.*_ga_8JE65Q40S6*czE3NTM0MzE4MTkkbzMkZzEkdDE3NTM0MzE4MjMkajU2JGwwJGgw") center;
      background-size: cover;
      color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
      h1{
        font-size: 100px;
        line-height: 100px;
      }
      p{}
      span{
        font-size: 14px;
      }
      button{
        width: 50%;
        padding: 10px;
        border: none;
        color: rebeccapurple;
        background-color: white;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}